<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LDAPPATH" value="LDAP://OU=REASYD,OU=REA,OU=Users,OU=User Accounts,DC=corp,DC=regn,DC=net"/>
    <add key="LDAPPATHWLG" value="LDAP://OU=LNGWLG,OU=REA,OU=Users,OU=User Accounts,DC=corp,DC=regn,DC=net"/>
    <add key="LDAPPATHCORP" value="LDAP://corp.regn.net:3268"/>
    <add key="LDAPPATHLEGAL" value="LDAP://legal.regn.net:3268"/>
    <add key="LDAPNAME" value="Svc-corlngsydapp013"/>
    <add key="LDAPPWD" value="hXEouSfLdpE7OdK12WDC"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>